
form.city-form {
    width: 100%;
    min-width:300px;
    position:relative;

    input[type="text"] {
        background-color: transparent;
        border: 0;
        border-bottom: solid 3px $wazuh_blue;
        width: 100%;
        padding-bottom: 4px;
        color: $wazuh_blue;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.4rem;
        outline: none;
    }

    input::placeholder {  
        color:$wazuh_blue;
        opacity:.5;
    }

    .loading-icon-container{
        position:absolute;
        top:-10px;
        right:0;
    }
    
    .btn {
        background:$wazuh_blue;
        margin-top:30px;

        &:active {
            outline: none;
        } 
    }

    .city-list-container {
        background:white;
        position:absolute;
        width:100%;
        border-radius:4px;
        margin-top:10px;

        .element{
            border-bottom:1px solid rgb(161, 161, 161);
            float:left;
            width:100%;
            padding:0.8rem;
            cursor:pointer;
            border-radius:4px;
            
            &:hover{
                background:#d3d3d3;
            }

            .place-name{
                float:left;
            }
            .place-type{
                float:left;
                width:100%;
                
                span{
                    background:$wazuh_yellow;
                    color:white;
                    letter-spacing: 2px;
                }
            }
        }
    }
        
    .error {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 200;
        margin-top:2rem;
        border:1px solid $wazuh_white;
        padding:1rem;
        border-radius:5px;
    
        &::before{
            font-family:"Font Awesome 5 Free";
            content: "\f057";
            margin-right:1rem;
        }
    }
    
}


  

  
