@import "media";
@import "form";
@import "weatherInfo";

@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

#main-container {
  margin-top:3rem;
}

.form-container {
  background-color: #0a2333; 
  height: 90vh;
  padding:50px;
  display:flex;
  align-items:center;
}

.results-container {
  height: 90vh;
  background: #ffffff;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(11, 3, 82);
  padding:15px 0px;
}

