@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.navbar img {
  width: 125px;
}
.navbar ul a.nav-link {
  color: #00A9E5 !important;
  font-weight: 500;
}

form.city-form {
  width: 100%;
  min-width: 300px;
  position: relative;
}
form.city-form input[type=text] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 3px #00A9E5;
  width: 100%;
  padding-bottom: 4px;
  color: #00A9E5;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.4rem;
  outline: none;
}
form.city-form input::placeholder {
  color: #00A9E5;
  opacity: 0.5;
}
form.city-form .loading-icon-container {
  position: absolute;
  top: -10px;
  right: 0;
}
form.city-form .btn {
  background: #00A9E5;
  margin-top: 30px;
}
form.city-form .btn:active {
  outline: none;
}
form.city-form .city-list-container {
  background: white;
  position: absolute;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}
form.city-form .city-list-container .element {
  border-bottom: 1px solid #a1a1a1;
  float: left;
  width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 4px;
}
form.city-form .city-list-container .element:hover {
  background: #d3d3d3;
}
form.city-form .city-list-container .element .place-name {
  float: left;
}
form.city-form .city-list-container .element .place-type {
  float: left;
  width: 100%;
}
form.city-form .city-list-container .element .place-type span {
  background: #FFB600;
  color: white;
  letter-spacing: 2px;
}
form.city-form .error {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-top: 2rem;
  border: 1px solid #f3f3f3;
  padding: 1rem;
  border-radius: 5px;
}
form.city-form .error::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  margin-right: 1rem;
}

#weather-info {
  background: #66666673;
  width: 100%;
  color: white;
}
#weather-info .location-container {
  font-size: 2.7rem;
  width: 100%;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
#weather-info .element {
  padding: 1rem;
  float: left;
  font-size: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
  border-left: 1px solid #a8a8a8;
}
#weather-info .element.description {
  width: 40%;
  border-left: 0px;
}
#weather-info .element .content {
  display: block;
  float: left;
}
#weather-info .element .content::first-letter {
  text-transform: uppercase;
}
#weather-info .element .content .text {
  float: left;
  width: 100%;
  font-size: 1.5rem;
}
#weather-info .element .content .image {
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
#weather-info .element .content .image i {
  font-size: 3.2rem;
}

.table {
  margin-top: 1rem;
  width: 100%;
  background: #f3f3f3;
  float: left;
}
.table td.icon {
  padding-top: 0px;
}
.table td.icon img {
  max-width: 37px;
  margin-top: 5px;
  background: #acacac;
  border-radius: 50%;
}
.table th {
  color: #00A9E5;
}
.table th i {
  margin-left: 3px;
  color: #00A9E5;
}

body {
  font-family: "Open Sans", serif;
  background: #00A9E5;
}

#main-container {
  margin-top: 10vh;
}
#main-container .form-container {
  background-color: #f3f3f3;
  height: 80vh;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-container .results-container {
  height: 80vh;
  background: #ffffff;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #0b0352;
  padding: 15px 0px;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto;
  animation: animated_background 50s linear infinite;
}

@keyframes animated_background {
  from {
    background-position: 0 -135px;
  }
  to {
    background-position: -1000px -135px;
  }
}

/*# sourceMappingURL=App.css.map */
